.nav-main {
  .nav {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .nav-item {
    margin-right: 0.3rem;
  }

  .navbar-brand {
    float: none;
    margin: 0;
    line-height: 2.4rem;
  }
}

.nav-main--team {
  .navbar-brand--root {
    color: #999;

    &:after {
      content: "/";
      margin: 0 .5rem;
    }
  }
}

.navbar-brand--team {
  font-weight: 600;
}