= form_for @venue do |f|
  - if @venue.errors.any?
    #error_explanation
      h2 = "#{pluralize(@venue.errors.count, "error")} prohibited this venue from being saved:"
      ul
        - @venue.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :user
    = f.text_field :user
  .actions = f.submit
