table.embedded-events.embedded-events--horizontal
  tr
    td
      = link_to new_event_path, target: '_blank', class: 'embedded-events-add-link' do
        span.plus-sign +
        span.description Dodaj wydarzenie

    - @events.all.each do |e, event = e.decorate|
      td
        = link_to event.public_html_path, target: '_blank' do
          = image_tag event.poster_url(@poster_width, @poster_height)

css:
  .embedded-events-add-link {
    height: #{@poster_height}px;
    background: #{@accent_color};
  }

scss:
  .embedded-events-add-link {
    color: #fff;
    width: 150px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    padding: 0 30px;
    line-height: 1.3rem;

    .plus-sign {
      font-size: 2rem;
      display: block;
      margin-bottom: 14px;
    }

    &:hover, &:active, &:focus {
      opacity: 0.8;
      color: #fff;
      text-decoration: none;
    }
  }