.markdown {
  -webkit-font-smoothing: antialiased;

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;

    img {
      transform: translateX(-50%);
      left: 50%;
      position: relative;
      margin-bottom: 1.5rem;
    }
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }

  // Increase margin between first image in the section and header if image is
  // the first thing after this header.
  h1 + p > img:first-of-type,
  h2 + p > img:first-of-type,
  h3 + p > img:first-of-type,
  h4 + p > img:first-of-type,
  h5 + p > img:first-of-type,
  h6 + p > img:first-of-type {
    margin-top: 1rem;
  }
}