.modal-header {
  background: #373a3c;
  color: #fff;
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
}

.modal-footer {
  background: #f4f4f4;
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
}