- @lead = 'Podaj datę i godzinę startu wydarzenia'

= render layout: 'layout' do
  = form_for @event, url: event_wizard_path(@event) do |f|
    .row.mb-1
      .card
        .card-block
          .form-group.mb-0
            = label :beginning_at, t(:date_and_time)
            = f.text_field :beginning_at, \
              class: 'form-control form-control-lg', \
              readonly: true, \
              value: l(@event.beginning_at, format: "%A, %d %b %Y, %H:%M")

    .form-group.text-xs-center
      input.btn.btn-primary type="submit" value=t(:save_and_proceed)

javascript:
  $(function () {
    $('#event_beginning_at').datetimepicker({
      locale: window.locale,
      sideBySide: true,
      icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up:   "fa fa-arrow-up",
        down: "fa fa-arrow-down",
        next: 'fa fa-chevron-right',
        previous: 'fa fa-chevron-left',
      },
      ignoreReadonly: true,
      format: 'dddd, DD MMM YYYY, HH:mm'
    });
  });