.venue-card {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  min-height: 180px;

  &:first-child {
    padding-top: 0;
  }
}

.venue-card-event-poster {
  .img-thumbnail {
    max-width: none;
    border: none;
    padding: .4rem;
  }
}

.venue-card-event-poster-placeholder {
  display: block;
  width: 150px;
  height: 150px;
  background: #fff;
}