<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= display_meta_tags site: 'hcxp', description: 'Indepenent online hardcore punk events directory', reverse: true, separator: '/', 'fb:app_id' => ENV['FACEBOOK_APP_ID'] %>

    <script src="https://use.fontawesome.com/54c3771c61.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
